name: Auto Trade Bot

on:
  workflow_dispatch:
  schedule:
    - cron: "*/15 * * * *"   # jalan tiap 15 menit

jobs:
  run-bot:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pandas numpy ta requests

      - name: Run bot
        run: |
          python bot.py
